.popup__save-button {
  margin-top: 49px;
  padding: 15px 0;
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
}
.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    margin-top: 45px;
    font-size: 14px;
  }
}
